{"openapi":"3.0.0","info":{"title":"Planet Express API","description":"his is a documentation for Planet Express, Public API which is accessible with valid Authorization. In order to get access, contact our [support team](https://planetexpress.com/contact). Once you get your token, you can access our API.","version":"1.0.1"},"servers":[{"url":"http://planetexpress.devel/api","description":"Main (production) server"}],"paths":{"/country":{"get":{"tags":["Country"],"summary":"Returns array of Countries and States","description":"Returs array of Countries and States, where each state has information to which country it belongs.","parameters":[{"name":"token","in":"query","required":true,"description":"Security token assigned by our support","schema":{"type":"string"}}],"responses":{"200":{"description":"A JSON array of countries and states","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountryObject"}}}},"403":{"description":"Forbidden access"}}}},"/shipping/rate":{"get":{"tags":["Shipping"],"summary":"Returns shipping rates","description":"Based on provided data, method returns a list of available carriers and basic information data.","parameters":[{"name":"token","in":"query","required":true,"description":"Security token assigned by our support","schema":{"type":"string"}},{"name":"country","in":"query","required":true,"description":"ID of destinaition country","schema":{"type":"integer"}},{"name":"state","in":"query","required":false,"description":"ID of destination state","schema":{"type":"integer"}},{"name":"city","in":"query","required":true,"description":"Destination city","schema":{"type":"string"}},{"name":"postalcode","in":"query","required":true,"description":"Destination postal code, must be a valid code","schema":{"type":"string"}},{"name":"value","in":"query","required":true,"description":"Value of the package in USD","schema":{"type":"number"}},{"name":"weight","in":"query","required":true,"description":"Package weight","schema":{"type":"number"}},{"name":"length","in":"query","required":true,"description":"Package length","schema":{"type":"number"}},{"name":"width","in":"query","required":true,"description":"Package width","schema":{"type":"number"}},{"name":"height","in":"query","required":true,"description":"Package height","schema":{"type":"number"}},{"name":"units","in":"query","required":false,"description":"Use metric system? (false = Imperial)","schema":{"type":"boolean"}}],"responses":{"200":{"description":"A JSON array of countries and states","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Carrier"}}}},"403":{"description":"Forbidden access"}}}}},"components":{"schemas":{"CountryObject":{"type":"object","required":["countries","states"],"properties":{"countries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Id of country for rate calculator"},"name":{"type":"string","description":"Name of the country"}}}},"states":{"type":"array","items":{"type":"object","properties":{"id_country":{"type":"integer","description":"Code of the country to whom the state belongs"},"iso_code":{"type":"string","description":"ISO code for rate calculator"},"name":{"type":"string","description":"Name of the state"}}}}}},"Carrier":{"type":"object","required":["countries","states"],"properties":{"carriers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"integer","description":"Name of the carrier"},"service":{"type":"string","description":"Carrier's service"},"insurance":{"type":"string","description":"Insurance info, value or information string"},"rate":{"type":"number","description":"Price of the shipping"},"currency":{"type":"string","description":"Abbrev. of the currency [USD]"},"deliverySpeed":{"type":"string","description":"Information about delivery time"},"cover":{"type":"string","description":"Link to carrier's logo image"}}}}}}}}}